* {
    box-sizing: border-box;
    margin: 0;
    padding: 2px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

body>header {
    background-color: brown !important;
    padding: 5px 0;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;

}

header li a:hover {
    text-decoration: underline;
    transform: scale(1.02);
    transition: transform 0.0, 1s ease;
    box-shadow: 2px 2px 2px;
}


header li a {
    color: #fffdfd;
    text-decoration: underline;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /* height: 180px; */
    width: 100%;
}

.articles article {
    width: 30%;
    text-align: justify;
}

section h2 {
    font-size: 32px;
}

section h2 {
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 16px 0;

}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    word-spacing: 5px;
    font-variant:small-caps;
}

.articles article a {
    color: rgb(0, 0, 0);
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: lighter;

}

.articles article a:hover {
    text-decoration: underline;
    transform: scale(1.02);
    transition: transform 0.0, 1s ease;
    box-shadow: 3px 3px 3px rgb(83, 21, 21);
}

.articles article p .articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

#populares #recentes #lançamentos #rifas {
    background-color: rgba(197, 195, 195, 0.486);
}


* {
    scrollbar-width: inherit;
    scrollbar-color: rgb(83, 21, 21) rgb(165, 42, 42);
}



.articles article {
    transition: transform 0.3s ease;
}


.articles article:hover {
    transform: scale(1.03);
    box-shadow: 0 0 27px rgba(255, 0, 0, 0.3);
}


.articles article p {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
}

.articles article {
    padding: 6px;
}

.box-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}