* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html{
    overflow-x: hidden;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: rgb(187, 0, 0);
    padding-top: 16px;
    color: rgb(247, 227, 201);
}


header>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    flex-direction: row-reverse;
}

header h1 {
    text-align: center;
    flex: 1;
    margin-left: -5%;
}

nav {
    background-color: brown;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
    position: absolute; 
    top: 100; 
    width: 70%; 
    max-width: 300px; 
    z-index: 1000; 
}

nav li {
    list-style: none;
    display: block;
    margin-right: 16px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 42px;
    margin-top: 0px;
    margin-left: 4%;
    margin: 0;
    padding: 16px;
    background-color: brown;
}

nav li:hover{
    background-color: red;
    cursor: pointer;
}

nav li a {
    color: beige;
    text-decoration: none;
}

.hamb {
    width: 32px;
    cursor: pointer;
    position: relative;
    margin-left: 2%;
    margin-top: 10px;
}

.hamb span {
    height: 2px;
    width: 100%;
    background-color: beige;
    display: block;
    margin-bottom: 8px;
    border-radius: 9px;
    cursor: pointer;
    left: 100%;
}

#h2c{
    text-align: center;
    padding-top: 3%;
    font-size: 48px;
}

.form-campo{
    margin-top: 10px;
}

form input{
    width: 100%;
    padding: 5px;
    width: 765px;
    margin-top: 5px;
    margin-bottom: 2%;
    padding: 15px;
    margin-bottom: 15px;
    border: 2px solid transparent #f7dada;
    border-radius: 10px;
    outline-color: rgb(255, 0, 0);
}

body {
    background-color: beige;
}

.box {
    max-width: 800px;
    margin: 2% auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.266);
    text-align: left;
}



input:focus,
textarea:focus {
    outline-color: rgb(255, 0, 0);
}

button{
    background-color: rgb(187, 0, 0);
    color: #fbf9f6;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 765px;
    height: 50px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

button:hover {
    background-color: brown;  
}

footer {
    background-color: rgb(187, 0, 0);
    color: aliceblue;
    padding: 16px;
}